<DOCTYPE html> 
    <html lang="en">
        <head>
            <title>Hello Vicci</title>
            <link rel="stylesheet" href="./html_class_pracs.css">
        </head>
        <body >  
            <form action="">
                <h2><p align="left" style="color: rgba(96, 161, 236, 0.918);"><ins>User <span id="span2">Details</span></ins></p><h2>
                    <table align="center" width="90%" height="100" border="0">
                        <caption style="color: darkred;"><ins>USER <span id="span3"><span id="span4">D</span>ETAILS</ins></caption>
                    <link rel="stylesheet" href="./my_css.css">
                    <tr>
                        <th>ID</th>
                        <td>a1</td>
                        <td>a2</td>
                        <td>a3</td>
                        <td>a4</td>
                        <td>a5</td>
                    <tr>
                        <th id="td1">Name</th>
                        <td id="td1">Victor Owaka</td>
                        <td id="td1">Minos Leaky</td>
                        <td id="td1">Biggie Aaslie</td> 
                        <td id="td1">Lonnei Me</td>
                        <td id="td1">Dan Sonny</td>
                    <tr>
                    <tr>
                        <th>Age</th>
                        <td>20</td>
                        <td>23</td>
                        <td>21</td>
                        <td>32</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <th id="td1">Email Address</th>
                        <td id="td1">vic@gmail.com</td>
                        <td id="td1">minos@gmail.com</td>
                        <td id="td1">bigie@gmail.com </td>
                        <td id="td1">me@gmail.com</td>
                        <td id="td1">Dan@gmail.com</td>
                    <tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>0722691117</td>
                        <td>0727365490</td>
                        <td>0791823812</td>
                        <td>0782376451</td>
                        <td>0783627513</td>
                    <tr>
                    <tr>
                        <th id="td1">City</th>
                        <td id="td1">Nairobi</td>
                        <td id="td1">Windhock</td>
                        <td id="td1">Kairo </td>
                        <td id="td1">Nirvana</td>
                        <td id="td1">Kisumu</td>
                    </tr>
                </table>
                </form>
        </body>
    </html>