<DOCTYPE html>
<html>
    <head>
        <title>Vicci Table Graphs</title>
        <link rel="stylesheet" href="./graphs.css">
    </head>
    <body>
<form>
<h2><p align="left" style="color: aqua;"><ins>User</ins> <span id="span2"><ins>Details</ins></span></p><h2>
    <table id="tbl1" align='center' width="90%"  border="5">
        <caption style="color: darkred;"><ins>USER <span id="span3">INFORMATION</span></ins></caption>    
    <tr border="10">
        <th>ID</th>
        <td>a1</td>
        <td>a2</td>
        <td>a3</td>
        <td>a4</td>
    </tr>
    <tr>
        <th rowspan="2">Name</th>
        <td>Victor</td>
        <td>Minos </td>
        <td>Biggie </td> 
        <td>Lonnei </td>
    </tr>
    <tr>
         <td>Owaka</td>
         <td>Leaky</td>
         <td>Aaslie</td>
         <td>Me</td>
     </tr>   
    <tr>
        <th>Age</th>
        <td>20</td>
        <td>23</td>
        <td>21</td>
        <td>32</td>
    </tr>
    <tr>
        <th>Email Address</th>
        <td>vic@gmail.com</td>
        <td>minos@gmail.com</td>
        <td>bigie@gmail.com </td>
        <td>me@gmail.com</td>
    <tr>
    <tr>
        <th>Phone Number</th>
        <td>0722691117</td>
        <td>0727365490</td>
        <td>07918238128</td>
        <td>0782376451</td>
    <tr>
    <tr>
        <th>City</th>
        <td>Nairobi</td>
        <td>Windhock</td>
        <td>Kairo </td>
        <td>Nirvana</td>
    </tr>
</table>

<table id="table1" border=1pt align="center"width=10% >
    <caption style="color: darkred;"><ins>RELATED <span id="span1">INFO</span></ins></caption>     
    <!--<colgroup>
        <col span="2" style="background-color: rgb(238, 14, 14);">
    </colgroup>-->
    <tr>
        <th>USER ID</th>
        <th>JOB</th>

    </tr>
    <tr>
        <td>a1</td>
        <td>Tech Support</td>

    </tr>
    <tr w>
        <td>a2</td>
        <td>White Coat Harker</td>

    </tr>
    <tr >
        <td>a3</td>
        <td>Data Miner</td>

    </tr>
    <tr >
        <td>a4</td>
        <td>Database Admin</td>

    </tr>
</table>
<table  id="tblede2" align='center' border=1pt width="20%">
    <caption><ins>Monthly<span id="span4">Savings</span></ins></caption>
    <tr>
      <th>User Id</th>
      <th>Duration</th>
      <th>Savings</th>
    </tr>
    <tr>
        <td>a1</td>
        <td>January to may</td>
        <td>10700$</td>
    </tr>
    <tr>
        <td>a2</td>
        <td>June to September</td>
        <td>16090$</td>
    </tr>
    <tr>
        <td>a3</td>
        <td>October to December</td>
        <td>41070$</td>
    </tr>
    <tr>
        <td>a4</td>
        <td>January to September</td>
        <td>17800$</td>
    </tr>
</table>
</form>
  </body>
  </html>